.experience-area{
    background: url("../images/expreence/bg.png") no-repeat scroll center 0;
    background-size: cover;
    @media(max-width:991px){
        padding-bottom: 30px;
    }
    .worker-image{
        padding-top: 35px;
        @media (max-width:1199px){
            padding-top: 100px;
        }
        @media (max-width:991px){
            padding-top: 35px;
        }
        img{
            max-width: 100%;
        }
    }
    .experience-info{
        padding-top:72px;
        @media (max-width:991px){
            width: 100%;
            padding-top: 30px;
        }
        .content{
            margin-bottom: 38px;
            h2{
                font:bold 30px/1.1 $alegreya;
                color: #282c3d;
                margin-bottom: 23px;
                margin-top: 0;
            }
            p{
                font:400 14px/26px $open;
                letter-spacing: 0.3px;
                color: #777777;
            }
        }
        .content-list{
            width: 58%;
            @media (max-width:1199px){
                width: 54%;
            }
            @media (max-width:561px){
                width: 100%;
                float: none;
            }
        }
        .content-image{
            position: relative;
            float: right;          
            margin-top: 11px;
            @media (max-width:1199px){
                width: 200px;
            }
            @media (max-width:561px){
                width: 50%;
                float: none;
                margin-left: 12px;
                margin-bottom: 10px;
            }
            @media (max-width:480px){
                width: 60%;
            }
            &:before{
                content: '';
                display: block;
                position: absolute;
                right: 11px;
                top: 11px;
                bottom: -11px;
                left: -11px;
                background: #c56e21;
                Z-INDEX: -1;
            }
            img{
                max-width: 100%;
            }
        }
    }
}


.content-list{
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    li{
        list-style: none;
        a{
            font: 500 16px/40px $open;
            color: #c16717;
            letter-spacing: 0.3px;
            white-space: nowrap;
            &:before{
                content: "\f18e";
                float: left;
                font: normal normal normal 14px/40px FontAwesome;
                width: 30px;
                height: auto;
            }
            &:hover,&:focus{
                color: #ca8e3e;
            }
        }
    }
}