footer.row{
    .footer-top{
        background: url("../images/footer/footer-bg.jpg") no-repeat scroll center 0;
        background-size: cover;
        position: relative;
        padding: 80px 0px 64px 0px;
        z-index: 0;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.90);
            width: 100%;
            height: 100%;
            display: block;
            z-index: 0;
        }
        .footer-sidebar{
            .widget{
                z-index: 1;
                .widget_title{
                    font: 500 18px/17px $open;
                    color: #bc945e;
                    margin-top: 0px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                }
                &.about-us-widget{
                    @media (max-width:767px){
                        min-height: auto !important;
                        max-width: 320px;
                        margin: 0 auto 20px;
                    }
                    a{
                        display: inline-block;
                    }
                    p{
                        font: 400 13px/26px $open;
                        letter-spacing: 0.8px;
                        color: #7c7c7c;
                        padding-top: 36px;
                        margin-bottom: 24px;
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            display: inline-block;
                            list-style: none;
                            padding: 10px 12px;
                            a{
                                padding: 0;
                                color: #7c7c7c;
                                i{
                                    font-size: 22px;
                                }
                                &:hover{
                                    background: none;
                                    color:#bc945e;
                                }
                            }
                         &:first-child{
                            padding-left: 0px;
                            }
                        }
                    }
                }
                &.widget-links{
                    @media (max-width:767px){
                        min-height: auto !important;
                        max-width: 320px;
                        margin: 0 auto;
                    }
                    .widget-contact-list{
                           ul{
                               margin: 0;
                               padding:0;
                               list-style: none;            
                            li{
                                padding: 12px 0px;
                                border-top:1px solid #2c2c2e;
                                a{
                                    font: 400 14px/23px $open;
                                    letter-spacing: 0.3px;
                                    color: #7b7b7b;
                                    i{
                                        padding-right: 12px;
                                    }
                                    &:hover{
                                        color:#bc945e; 
                                    }
                                }
                            }
                        }
                    }
                }
                &.widget-contact{
                    @media (max-width:767px){
                        min-height: auto !important;
                        max-width: 320px;
                        margin: 0 auto;
                    }
                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            display: table;
                            width: 100%;
                            border-top:1px solid #2c2c2e;
                            padding-right: 11px;
                            i{ 
                                float: left;
                                font-size: 25px;
                                color: #7b7b7b;
                                width: 34px;
                                padding-top: 13px;
                                line-height: 18px;
                                &.fa-map-marker{
                                    padding-top: 22px;
                                }
                                &.fa-phone{
                                    font-size: 21px;
                                    line-height:30px;
                                    
                                }
                                &.fa-envelope-o{
                                    font-size: 18px;
                                    line-height:30px;
                                    
                                }
                                &.icon-WorldWide{
                                    font-size: 20px;
                                    line-height: 30px;
                                    
                                }
                            }
                            .fleft{
                                float: left;
                                color: #7b7b7b;
                                width: calc(100% - 34px);
                                font:400 14px/20px $open;
                                padding: 15px 0px;
                                a{
                                   color: #7b7b7b;
                                    &:hover{
                                        color:#bc945e;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                &.widget-form{
                    @media (max-width:767px){
                        min-height: auto !important;
                        max-width: 320px;
                        margin: 0 auto;
                    }
                    .submet-form{
                        .form-control{
                            background-color: transparent;
                            border-radius: 0px;
                            margin-bottom: 10px;
                            border: 1px solid #393939;
                            box-shadow: none;
                            font: 400 13px/38px $open;
                            color: #969595;
                            padding: 0 20px;
                            height: 38px;
                        }
                        .message{
                            height: 100px;
                            resize: none;
                        }
                    }
                }
                & + .widget{
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    margin-top: 0;
                    @media (max-width:767px){
                        margin-bottom: 20px;
                    }
                }
                &:last-child{
                    @media (max-width:767px){
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        background: #090909;
        font: 400 14px/20px $open;
        letter-spacing: 0.3px;
        color: #424242;
        padding: 30px 0px;
        @media (max-width: 767px){
            text-align: center;
        }
        @media (max-width: 359px){
            font-size: 13px;
            line-height: 20px;
        }
        a{
            color: #424242;
            &:hover,&:focus{
                color:#bc945e;
            }
        }
        .right{
            text-align: right;
            padding-right: 25px;
            @media (max-width: 767px){
                text-align: center;
                padding-right: 0;
            }
        }
    }
}
