.latest-news-area{
    background: url("../images/latest-news/bg.png") no-repeat scroll center 0;
    background-size: cover;
    .latest-content{
        margin-top: 50px;
        .latest{
            @media (max-width:991px){
                padding: 0 10px;
            }
            @media (max-width:767px){
                max-width: 370px;
                margin: 0 auto 20px;
            }
            .latest-image{
                position: relative;
                img{
                    max-width: 100%;
                }
                .latest-info-date{
                    position: absolute;
                    width: 62px;
                    height: 76px;
                    text-align: center;
                    background: $baseColor;
                    left: 0;
                    bottom: 0;
                    @media (max-width: 991px){
                        height: 55px;
                    }
                    h3{
                        font: 600 25px/21px $open;
                        letter-spacing: 0.3px;
                        color: #fff;
                        @media (max-width: 991px){
                            font-size: 20px;
                            margin-top: 10px;
                        }
                        small{
                            font: 500 14px/21px $open;
                            letter-spacing: 0.3px;
                            color: #fff;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }
            }
            .latest-news-text{
                padding: 21px 30px 20px 30px;
                background: #fff;
                border: 1px solid #ebebeb;
                @media (max-width:1199px){
                    padding: 21px 15px 20px 15px;
                }
                @media (max-width:767px){
                    padding: 21px 20px 20px 25px;
                }
                @media (max-width:333px){
                   padding: 21px 15px 20px 15px;
                }
                h4{
                    font: 500 16px/26px $open;
                    letter-spacing: 0.3px;
                    color: #000;
                    margin-top: 0;
                    @include transition;
                    @media (max-width: 991px){
                        line-height: 24px;
                        font-weight: 400;
                    }
                    &:hover{
                        color: $baseColor;
                    }
                }
                p{
                    font:400 14px/26px $open;
                    letter-spacing: 0.3px;
                    color: #898989;
                    border-bottom: 1px dashed #ededed;
                    border-width: 2px;
                    padding-bottom: 15px;
                    margin-bottom: 13px;
                    @media (max-width: 991px){
                        line-height: 22px;
                        font-weight: 300;
                    }
                }
                .latest-meta{
                    a{
                        font: normal 13px/30px $open;
                        color: #c1c1c1;
                        padding-right: 13px;
                        @media (max-width:1199px){
                            padding-right: 8px;
                        }
                        @media (max-width:991px){
                            display: block;
                        }
                         @media (max-width:991px){
                            display: inline-block;
                        }
                         @media (max-width:333px){
                            padding-right: 4px;
                        }
                        i{
                            margin-right: 8px;
                            color:$yellow;
                        }
                        .fa-user{
                            font-size: 16px;
                        }
                        .fa-comments{
                            font-size: 18px;
                        }
                        & + a{
                            &:before{
                                content: '';
                                background: #c2c2c2;
                                margin-right: 15px;
                                width:1px;
                                height: 14px;
                                bottom: -3px;
                                position: relative;
                                display: inline-block;
                                @media (max-width:1199px){
                                   margin-right: 9px;
                                }
                                @media (max-width:991px){
                                   display:none;
                                }
                                @media (max-width:767px){
                                   display:inline-block;
                                    margin-right: 15px;
                                }
                                @media (max-width:333px){
                                    margin-right: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}